body {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 500;
    height: 100%;
    font-size: 18px;
}

main {
    display: flex;
}

.left {
    float: left;
    width: 30%;
    height: 100vh;
    background-image: url("../images/bg-main-desktop.png");
    background-size: cover;
}

.card-front {
    position: relative;
    top: 20%;
    left: 43%;
}

.card-back {
    position: relative;
    top: 25%;
    left: 60%;
}

.card-logo {
    position: relative;
    bottom: 25%;
    right: 30%;
}

p {
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    font-weight: 500;

}

.cards-number {
    position: relative;
    left: 17rem;
    bottom: 11rem;
    font-size: 1.5rem;
    letter-spacing: .4rem;
}

.cards-name {
    position: relative;
    left: 17rem;
    bottom: 8.2rem;
    letter-spacing: .2rem;
    font-size: 1rem;

}

.cards-date {
    position: relative;
    left: 38rem;
    bottom: 9.4rem;
    letter-spacing: .2rem;
}

.card-cvc {
    position: relative;
    top: 2.55rem;
    left: 44rem;
    letter-spacing: .2rem;
    font-size: .9rem;
}

.right {
    float: right;
    width: 70%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 25rem;
}

label {
    display: block;
    margin-bottom: .3rem;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .1rem;
    font-weight: 500;
}

input {
    padding: .3rem;
    border-width: 2px;
    margin-bottom: 2rem;
    border-radius: 5%;
    border-color: hsl(270, 3%, 87%);
}

.big {
    width: 96%;
}

.grid-date {
    display: flex;
    justify-content: space-between;
}

.date {
    width: 5rem;
}

.cvc {

}

.button {
    width: 100%;
}

footer {
    font-size: .61rem;
    text-align: center;
}

footer a {
    color: hsl(228, 45%, 44%);
}