body {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 500;
    height: 100%;
    font-size: 18px;
}

main {
    display: flex;
}

.left {
    float: left;
    width: 30%;
    height: 100vh;
    background-image: url("../images/bg-main-desktop.png");
    background-size: cover;
}

.card-front {
    position: absolute;
    top: 20%;
    left: 14%;
}

.card-back {
    position: absolute;
    top: 52%;
    left: 20%;
}

.card-logo {
    position: absolute;
    top: 23%;
    left: 15.5%;
}

p,
span {
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    font-weight: 500;

}

.cards-number {
    position: absolute;
    left: 15.5%;
    top: 35%;
    font-size: 1.6rem;
    letter-spacing: .3rem;
}

.cards-name {
    position: absolute;
    left: 15.5%;
    top: 42%;
    letter-spacing: .2rem;
    font-size: 1rem;

}

.cards-date {
    position: absolute;
    left: 32%;
    top: 42%;
    letter-spacing: .2rem;
}

.card-cvc {
    position: absolute;
    top: 64.2%;
    left: 38.7%;
    letter-spacing: .2rem;
    font-size: .9rem;
}

.right {
    float: right;
    width: 70%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 25rem;
}

label {
    display: block;
    margin-bottom: .3rem;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .1rem;
    font-weight: 500;
}

input {
    border-width: 2px;
    /* margin-bottom: 2rem; */
    height: 45px;
    border-radius: 8px;
    border: 1.5px solid rgb(110, 109, 109);
    text-indent: 10px;
}

.form-block {
    margin-bottom: 1rem;
}

input:focus,
input:active {
    outline: 0px solid hsl(249, 99%, 64%);
    border-top-color: hsl(249, 99%, 64%);
    border-right-color: hsl(278, 94%, 30%);
    border-bottom-color: hsl(249, 99%, 64%);
    border-left-color: hsl(278, 94%, 30%);
}

.form-block.error input {
    border-color: hsl(0, 100%, 66%);
}

.form-block.success input {
    border-color:  hsl(108, 94%, 49%);
}

.form-block small {
    color: #e74c3c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .65rem;
    font-weight: 600;
    letter-spacing: 0;
    text-transform: none;
	visibility: hidden;
}

.big {
    width: 99%;
}

.grid-date {
    display: flex;
    justify-content: space-between;
}

.date {
    width: 5rem;
}

/* .cvc {

} */

.button {
    width: 100%;
    height: 45px;
    color: #fff;
    background-color: rgb(3, 3, 67);
    border: 1px solid rgb(3, 3, 67);
    border-radius: 8px;
    font-weight: 500;
    font-size: .9rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
}

footer {
    font-size: .61rem;
    text-align: center;
}

footer a {
    color: hsl(228, 45%, 44%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

/* Complete page */

.complete-state {
    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 300px;
}
.complete-heading {
    color: hsl(278, 68%, 11%);
    font-size: 2rem;
    letter-spacing: .2rem;
    font-weight: 500;
    text-transform: uppercase;
}
.complete-text {
    color: hsl(279, 6%, 55%);
    font-weight: 800;
}
.complete-button {
    width: 40%;
    height: 45px;
    color: #fff;
    background-color: rgb(3, 3, 67);
    border: 1px solid rgb(3, 3, 67);
    border-radius: 8px;
    font-weight: 500;
    font-size: .9rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
}